@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*slider*@
<style>
    #myVideo {
        /*position: fixed;*/
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
</style>
<!-- Home Design -->
<div class="master-slider ms-skin-default" id="masterslider">
    @*<div class="ms-slide slide-3" data-delay="5">

            <video autoplay="autoplay"  loop="loop" id="myVideo">
                <source src="~/image/vi.webm" type="video/webm">
                Any alternate text.
            </video>

        </div>*@

    <div class="ms-slide slide-3" data-delay="5">
        <!-- slide background -->

        <img src="~/image/slider999.jpg" alt="Slide1 background" />


        <h3 class="ms-layer title4 font-white font-uppercase font-thin-xs"
            style="left: 120px; top: 150px; color: white; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;"
            data-type="text"
            data-delay="2000"
            data-duration="2000"
            data-ease="easeOutExpo"
            data-effect="skewleft(30,80)">
            Exceptional Care Tailored to You
        </h3>

        <h5 class="ms-layer text1 font-white"
            style="left: 120px; top: 210px; color: white; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black; "
            data-type="text"
            data-effect="bottom(45)"
            data-duration="2500"
            data-delay="3000"
            data-ease="easeOutExpo">
            At UNIC Care Services Ltd., we deliver personalized care tailored to your needs. <br />Our dedicated team provides support with compassion and expertise, empowering you to live life fully.
        </h5>
        <a class="ms-layer btn3 uppercase"
           style="left: 120px; top: 300px; background-color: #67b343;"
           data-type="text"
           data-delay="3500"
           data-ease="easeOutExpo"
           data-duration="2000"
           data-effect="scale(1.5,1.6)" href="#"> Know More</a>
    </div>

    <!-- slide 2 -->
    <!-- end of slide -->

    <div class="ms-slide slide-3" data-delay="5">
        <!-- slide background -->

        <img src="~/image/slider33.jpg" alt="Slide1 background" />


        <h3 class="ms-layer title4 font-white font-uppercase font-thin-xs"
            style="left: 120px; top: 150px; color: white; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;"
            data-type="text"
            data-delay="2000"
            data-duration="2000"
            data-ease="easeOutExpo"
            data-effect="skewleft(30,80)">
            A Warm Welcome to Elm House
        </h3>

        <h5 class="ms-layer text1 font-white"
            style="left: 120px; top: 210px; color: white; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;"
            data-type="text"
            data-effect="bottom(45)"
            data-duration="2500"
            data-delay="3000"
            data-ease="easeOutExpo">
            Welcome to Elm House, a heaven where comfort, community, and care unite. Our inviting residential care home caters to individuals with learning disabilities and autism, fostering a supportive environment where all feel valued. Come tour Elm House and discover its warm embrace.
        </h5>
        <a class="ms-layer btn3 uppercase"
           style="left: 120px; top: 300px; background-color: #67b343;"
           data-type="text"
           data-delay="3500"
           data-ease="easeOutExpo"
           data-duration="2000"
           data-effect="scale(1.5,1.6)" href="#"> Know More</a>
    </div>

</div>
<!-- Home End -->
<!-- Our Feature Services -->
<section class="feature-service pt50 pb50 bgc-f9">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="current_theme_toast mb30">
                    <div class="toast align-items-center text-white bgc-thm p15" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <h4 class="toast-body text-white">Hello, world! This is a toast message.</h4>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.7s; animation-name: fadeInUp;">
                <div class="service-icon-box">
                    <div class="count">01</div>
                    <div class="icon text-thm3"><span class="flaticon-cross"></span></div>
                    <div class="details">
                        <h3 class="title">
                            Family Involvement
                        </h3>
                        <p>
                            We believe in the importance of family involvement in our residents' care. We work closely with families to keep them informed and involved, ensuring a collaborative approach to supported living
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-icon-box">
                    <div class="count">02</div>
                    <div class="icon text-thm3"><span class="flaticon-nurse"></span></div>
                    <div class="details">
                        <h3 class="title">Assisted Living</h3>
                        <p>At Unic Care, we provide Assisted Living services that balance personal freedom with professional care, ensuring every resident enjoys a life of dignity, independence, and fulfillment in a safe, nurturing environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="service-icon-box">
                    <div class="count">03</div>
                    <div class="icon text-thm3"><span class="flaticon-medical-4"></span></div>
                    <div class="details">
                        <h3 class="title">Primary Health</h3>
                        <p>At Unic Care, we believe quality healthcare starts with a strong foundation. Our Primary Health Care services serve as your first point of contact, offering personalized, accessible care that covers everything from preventive measures.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="service-icon-box">
                    <div class="count">04</div>
                    <div class="icon text-thm3"><span class="flaticon-shape-1"></span></div>
                    <div class="details">
                        <h3 class="title">CQC standards</h3>
                        <p>
                            At Unic Care, our top priority is to deliver safe, effective, and compassionate care. As a CQC-regulated provider, our rating reflects our commitment to maintaining the highest standards of healthcare excellence.
                            <img src="~/cqc.png" style="height:50px;margin:5px;" class="img-fluid" />

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Our About -->
<section class="ulockd-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="about-box-home5 mb100-md wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="thumb">
                        <img src="~/image/abt-01.jpg" class="img1" style="width:550px;">
                        @*<img src="~/image/abt-02.jpg" alt="7.jpg" class="img2">
                        <div class="video_popup_icon">
                            <a class="video_popup_btn popup-youtube" href="https://www.youtube.com"><span class="flaticon-play-button-1"></span></a>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="about-usbox wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="contents">
                        <h2 class="title">
                            Comprehensive Care Tailored to Each Individual

                        </h2>
                        <p class="ulockd-about-para mb30">
                            At Unic care services, we take a holistic approach to supported living. Our comprehensive care plans address the physical, emotional, and social needs of our residents, ensuring they lead fulfilling and balanced lives.
                        </p>
                        <div class="list_check_style mb30">
                            <ul class="mb0">
                                <li>Patient-Centered Care</li>
                                <li>Qualified and Compassionate Staff</li>
                                <li>Regulatory Compliance</li>
                                <li>Quality Improvement</li>
                            </ul>
                        </div>
                    </div>
                    <div class="progress-levels mb30">
                        <div class="progress-box wow animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms;">
                            <h5 class="box-title text-thm3">Health Care</h5>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner">
                                        <div class="bar-fill" data-percent="100" style="width: 100%;">
                                            <div class="percent">100%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-box wow animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms;">
                            <h5 class="box-title text-thm3">Housekeeping</h5>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner">
                                        <div class="bar-fill" data-percent="100" style="width: 100%;">
                                            <div class="percent">100%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-lg btn-thm text-center" asp-page="/Contact">Book An Appointment</a>
                    <!-- Product Popup View Start-->
                    <!-- Product Popup View End-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Services -->
<section class="ulockd-about bgc-f9 pb70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-4 text-center">
                <div class="main-title hvr-float-shadow">
                    <h2 class="title">Our Awesome <span class="text-thm">Services</span></h2>
                    <p>We offer a range of services to cater to your individual needs, ensuring you receive the highest level of care and support in your daily activities.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="und_img_icon_box hvr-underline-from-center">
                    <div class="thumb"><img class="img-fluid img-whp" src="~/image/care.jpg" alt=""></div>
                    <div class="details">
                        <span class="icon text-thm flaticon-man-lifting-an-old-man"></span>
                        <h3 class="title"><a href="#">Unrivalled Care</a></h3>
                        <p class="para">
                            We assist with a variety of daily activities, providing exceptional care and attention to ensure your comfort, safety, and well-being at all times.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="und_img_icon_box hvr-underline-from-center">
                    <div class="thumb"><img class="img-fluid img-whp" src="~/image/medic-nurse.jpg" alt=""></div>
                    <div class="details">
                        <span class="icon text-thm flaticon-person"></span>
                        <h3 class="title"><a href="#">Medication Support</a></h3>
                        <p class="para">
                            Our team provides support with medication, ensuring timely prompts or administration to help you maintain your health regimen and manage your medications effectively.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="und_img_icon_box hvr-underline-from-center">
                    <div class="thumb"><img class="img-fluid img-whp" src="~/newweb/support.jpg" alt=""></div>
                    <div class="details">
                        <span class="icon text-thm flaticon-people"></span>
                        <h3 class="title"><a href="#">Supporting Cleanliness</a></h3>
                        <p class="para">
                            We provide comprehensive help and supervision with personal hygiene, ensuring you maintain cleanliness and feel fresh and comfortable throughout the day.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.7s; animation-name: fadeInUp;">
                <div class="und_img_icon_box hvr-underline-from-center">
                    <div class="thumb"><img class="img-fluid img-whp" src="~/image/companion.jpg" alt=""></div>
                    <div class="details">
                        <span class="icon text-thm flaticon-nurse-head"></span>
                        <h3 class="title"><a href="#">Companionship & Community</a></h3>
                        <p class="para">
                            We offer support with social engagement, helping you stay connected with the community and assisting with daily tasks to ensure a fulfilling and active life.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="und_img_icon_box hvr-underline-from-center">
                    <div class="thumb"><img class="img-fluid img-whp" src="~/image/help.jpg" alt=""></div>
                    <div class="details">
                        <span class="icon text-thm flaticon-people"></span>
                        <h3 class="title"><a href="#">Access to Care</a></h3>
                        <p class="para">
                            At Unic care, we prioritize making healthcare accessible and convenient for everyone. Our commitment to Access to Care ensures you receive timely, high-quality supported living wherever you are, with a focus on removing barriers and providing seamless care.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.7s; animation-name: fadeInUp;">
                <div class="und_img_icon_box hvr-underline-from-center">
                    <div class="thumb"><img class="img-fluid img-whp" src="~/image/feeding.jpg" alt=""></div>
                    <div class="details">
                        <span class="icon text-thm flaticon-nurse-head"></span>
                        <h3 class="title"><a href="#">Feeding</a></h3>
                        <p class="para">
                            We prepare nutritious meals and drinks tailored to your preferences, ensuring you enjoy delicious and healthy food that meets your dietary needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ulockd-about pb70">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-6 offset-lg-4 text-center">
                    <div class="main-title hvr-float-shadow">
                        <h2 class="title">Things to Know About US</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ulockd-faq-box">
                    <div class="ulockd-faq-content mb30">
                        <div class="accordion" id="accordionExamplex">
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapsex" data-bs-target="#collapsexOne" aria-expanded="true" aria-controls="collapsexOne">
                                        <i class="fas fa-angle-down icon-1"></i>
                                        <i class="fas fa-angle-up icon-2"></i> Rehabilitation
                                    </button>
                                </div>
                                <div id="collapsexOne" class="accordion-collapsex collapsex show" role="tabpanel" aria-labelledby="headingOne" data-bs-parent="#accordionExamplex">
                                    <div class="accordion-body">
                                        <p>
                                            At Unic Care, we provide comprehensive rehabilitation services designed to support your recovery, restore function, and enhance your quality of life through personalized care tailored to your needs.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" role="tab" id="headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapsex" data-bs-target="#collapsexTwo" aria-expanded="true" aria-controls="collapsexTwo">
                                        <i class="fas fa-angle-down icon-1"></i>
                                        <i class="fas fa-angle-up icon-2"></i>
                                        Delicious and Healthy Meals
                                    </button>
                                </div>
                                <div id="collapsexTwo" class="accordion-collapsex collapsex" role="tabpanel" aria-labelledby="headingTwo" data-bs-parent="#accordionExamplex">
                                    <div class="accordion-body">
                                        <p>
                                            Our culinary team prepares delicious and nutritious meals tailored to meet the dietary needs and preferences of our residents. We prioritize balanced, healthy meals to support overall wellness.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header" role="tab" id="headingFour">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapsex" data-bs-target="#collapsexFour" aria-expanded="true" aria-controls="collapsexFour">
                                        <i class="fas fa-angle-down icon-1"></i> <i class="fas fa-angle-up icon-2"></i> Engaging Activities and Programs
                                    </button>
                                </div>
                                <div id="collapsexFour" class="accordion-collapsex collapsex" role="tabpanel" aria-labelledby="headingFour" data-bs-parent="#accordionExamplex">
                                    <div class="accordion-body">
                                        <p>
                                            Our wide range of activities and programs are designed to keep residents engaged and connected. From arts and crafts to fitness classes and social events, there’s something for everyone to enjoy.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" role="tab" id="headingFive">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapsex" data-bs-target="#collapsexFive" aria-expanded="true" aria-controls="collapsexFive">
                                        <i class="fas fa-angle-down icon-1"></i>
                                        <i class="fas fa-angle-up icon-2"></i>Personalized Care Plans
                                    </button>
                                </div>
                                <div id="collapsexFive" class="accordion-collapsex collapsex" role="tabpanel" aria-labelledby="headingFive" data-bs-parent="#accordionExamplex">
                                    <div class="accordion-body">
                                        <p>


                                            Every resident at Unic care receives a personalized care plan tailored to their specific needs and preferences. Our dedicated team works closely with residents and their families to develop and implement these individualized plans.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<section class="ulockd-frst-divider">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="text-center text-md-start mb20-sm">
                    <h2 class="ulockd-dvidr-mttl">Book a Tour with Elm House</h2>
                    <h2 class="ulockd-dvidr-mttl" style="font-size:25px;">
                        We provide a diverse range of leisure and recreational activities that people can choose to be involved with, which is fun, inspiring and engaging.
                    </h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ulockd-dvidr-btn text-uppercase text-center text-md-end mt0">
                    <a class="btn btn-default btn-white hvr-overline-from-center" asp-page="/Contact">Book An Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Services -->
<section class="ulockd-about pb70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="main-title">
                    <h2 class="title">
                        Frequently Asked Questions

                    </h2>
                    <p style="color: #181616; font-size: 36px;">
                        Your Questions Answered
                    </p>
                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="para">

                            <p>Find answers to common questions about our supported living services, including eligibility, care plans, and more. If you have additional questions, don't hesitate to reach out to us.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="funfact_home5_style text-center">
                            <p>Happy Residents</p>
                            <div class="timer text-thm">100</div>%
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="funfact_home5_style text-center">
                            <p>Care Quality Commission (CQC) standards</p>
                            <div class="timer text-thm">100</div>%
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="funfact_home5_style text-center">
                            <p>Staff Dedication</p>
                            <div class="timer text-thm">100</div>%
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="ulockd-faq-box">
                    <div class="ulockd-faq-content mb30">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="fas fa-angle-down icon-1"></i> <i class="fas fa-angle-up icon-2"></i> What is long-term care? </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse show" role="tabpanel" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Long-term care involves a range of services designed to meet the health or personal care needs of individuals over an extended period. This includes assistance with daily activities and medical care for both elderly residents and individuals with autism.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" role="tab" id="headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <i class="fas fa-angle-down icon-1"></i>
                                        <i class="fas fa-angle-up icon-2"></i>
                                        What does Safety and Security mean to us?
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            A Safe and Secure Environment Ensuring the safety and security of our residents is our top priority. Our facilities are equipped with advanced security systems, and our staff is trained to handle emergencies promptly and efficiently.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" role="tab" id="headingThree">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"> <i class="fas fa-angle-down icon-1"></i> <i class="fas fa-angle-up icon-2"></i> Are services accessible 24/7? </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Yes, our services are available 24 hours a day, 7 days a week, 365 days a year. We provide flexible care options ranging from a few hours per visit to full-time care, ensuring support whenever you need it.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" role="tab" id="headingFour">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"> <i class="fas fa-angle-down icon-1"></i> <i class="fas fa-angle-up icon-2"></i> What is Primary Care? </button>
                                </div>
                                <div id="collapseFour" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Primary care refers to the essential health services you need first, such as routine check-ups, preventive care, and managing chronic conditions. It is the first point of contact before needing specialist care or hospitalization.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" role="tab" id="headingFive">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive"> <i class="fas fa-angle-down icon-1"></i> <i class="fas fa-angle-up icon-2"></i> What happens if my caregiver is unavailable? </button>
                                </div>
                                <div id="collapseFive" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>If your regular caregiver is unavailable due to illness or vacation, UNIC CARE SERVICES LTD will arrange for another qualified caregiver to ensure there is no interruption in your care. We will notify you in advance of any changes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

 
<!-- Our Team -->
<!-- Our Blog -->
<section class="our-blog-home5 bgc-f9 pb70 ovh">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title hvr-float-shadow text-start">
                    <h5 class="subtitle">From Blog Posts</h5>
                    <h2 class="title mb20">Our Latest <br><span class="text-thm">News &amp; Articles</span> </h2>

                    <p>UNIC CARE SERVICES LTD is committed to keeping you informed and engaged. Our blog features the latest news, articles, and updates about our care home and the broader community. Join us as we share stories, tips, and insights related to the care and support of our residents.</p>

                </div>
            </div>
            <div class="col-xl-12 text-center">
                <div class="row">

                    @foreach (var item in Model.NewsBlog)
                    {
                        <div class="col-md-4">
                            <div class="item">
                                <article class="ulockd-blog-post1 hvr-float-shadow text-start">
                                    <div class="post-thumb">
                                        <img class="img-fluid img-whp" src="@item.Image" alt="">
                                    </div>
                                    <div class="post-details">
                                        <div class="d-flex mb25">
                                            <div class="post-info text-thm ms-0 me-4">
                                                <span class="day">@item.Date.ToString("dd")</span>
                                                <span class="month">@item.Date.ToString("MMM yyyy")</span>
                                            </div>

                                        </div>
                                        <p>@item.ShortDescription</p>
                                        <a asp-page="./Continue" asp-route-id="@item.Id">Continue...</a>

                                    </div>
                                </article>
                            </div>
                        </div>
                    }



                </div>
            </div>

        </div>
    </div>
</section>

