@page
@model UniCare.Pages.NewsModel
@{
}
<div class="ulockd-inner-home" style=" background-image: url(../image/inner-pagebg.jpg);">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-lg-12">
                    <h1 class="text-uppercase">NEWS</h1>
                </div>
                <div class="col-lg-12">
                    <div class="ulockd-icd-layer">
                        <ul class="ulockd-icd-sub-menu">
                            <li class="list-inline-item"><a href="#"> HOME </a></li>
                            <li class="list-inline-item"><a href="#"> &gt; </a></li>
                            <li class="list-inline-item"> <a href="#"> NEWS </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="our-blog-home5 bgc-f9 pb70 ovh">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title hvr-float-shadow text-start">
                    <h5 class="subtitle">From Blog Posts</h5>
                    <h2 class="title mb20">Our Latest <br><span class="text-thm">News &amp; Articles</span> </h2>

                    <p>UNIC CARE SERVICES LTD is committed to keeping you informed and engaged. Our blog features the latest news, articles, and updates about our care home and the broader community. Join us as we share stories, tips, and insights related to the care and support of our residents.</p>

                </div>
            </div>
            <div class="col-xl-12 text-center">
                <div class="row">

                    @foreach (var item in Model.NewsBlog)
                    {
                        <div class="col-md-4">
                            <div class="item">
                                <article class="ulockd-blog-post1 hvr-float-shadow text-start">
                                    <div class="post-thumb">
                                        <img class="img-fluid img-whp" src="@item.Image" alt="">
                                    </div>
                                    <div class="post-details">
                                        <div class="d-flex mb25">
                                            <div class="post-info text-thm ms-0 me-4">
                                                <span class="day">@item.Date.ToString("dd")</span>
                                                <span class="month">@item.Date.ToString("MMM yyyy")</span>
                                            </div>

                                        </div>
                                        <p>@item.ShortDescription</p>
                                        <a asp-page="./Continue" asp-route-id="@item.Id">Continue...</a>

                                    </div>
                                </article>
                            </div>
                        </div>
                    }



                </div>
            </div>

        </div>
    </div>
</section>
